.center{
   margin: auto;
   text-align: center;
   color:white;
   padding-top: 200px;
}
body{
    background-color:black;
}
.back-photo{
}
.giga-chad{
    width:100px;
    height: 100px;

}